<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WasteLess</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Rubik">
    <link rel="stylesheet" href="css/principale.css">


</head>
<body><header class="header">
    <div class="header__content">
        <a class="header__logo" href="#">
            <strong>WasteLess</strong>
        </a>
        <ul class="header__menu">
            <li><a href="#"></a></li>
            <strong><li><a href="#Chi siamo?">Chi siamo?</a></li></strong>
            <strong><li><a href="/notizie">Notizie</a></li></strong>
            <strong><li><a href="#Lavora con noi">Lavora con noi</a></li></strong>
            <strong><li><a href="#Contatto">Contatti</a></li></strong>
        </ul>
        <div class="header__quick">
            <Strong><a href="/formlogin">Login</a></Strong>
            <div class="icon-hamburger">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

</div>
<video class="video-bg" src="css/paesaggio.mp4" autoplay muted loop></video>
<div class="section watch">
    <br><br><br>

    <h1 class="title">UNA SOLUZIONE</h1>

</div>
<div class="section watch">
    <h1 class="title"> AGLI SPRECHI</h1>
</div>

<div class="section watch">
    <h1 class="title"> ALL'<br>INQUINAMENTO</h1>
</div>


<div id="Chi siamo?" class="panel">
    <div class="container">

        <h2 class="watch fade-in title-med">Qual'è il problema?</h2>

        <p  class="watch fade-in subtitle">
            <b>
                Buttando nel cestino cibo come frutta scaduta, pane raffermo, pasta scaduta, ecc., pensiamo che le piccole quantità non siano un problema. Ma se moltiplichiamo questo gesto per le 25 milioni di famiglie italiane, a livello nazionale perdiamo 12 miliardi di euro. Aggiungendo lo spreco alimentare in tutta la catena di produzione e distribuzione, il costo totale sale a 15 miliardi di euro (Rapporto Waste Watcher 2019).
            </b>
        </p>

    </div>
</div>

<div class="panel">
    <div class="container">

        <h2 class="watch fade-in title-med">L'Obiettivo <br> di Wasteless</h2>

        <p  class="watch fade-in subtitle ">
            <b>WasteLess propone un meccanismo semplice: sulla nostra app l'utente riceve, informazioni sui gli alimenti che si trovano in scadenza nel tuo frigo oppure nel tuo negozio, in modo di poter consumare o vedere i prodotti prima che scadino e potrai tenere traccia degli alimenti più venduti.</b>
        </p>

    </div>
</div>

<div id="Lavora con noi" class="panel">
    <div class="container">

        <h2 class="watch fade-in title-med">Vuoi lavorare con noi?</h2>

        <p class="watch fade-in subtitle ">
            <b>Unisciti a WasteLess e salva cibo e denaro!
                WasteLess è alla ricerca di persone motivate e appassionate che vogliono unirsi al nostro team per combattere gli sprechi
                alimentari e risparmiare denaro, sia per i consumatori che per i venditori.Cosa cerchiamo? Siamo alla ricerca di persone entusiaste e creative che vogliono unirsi
                al nostro team per espandere l'impatto di WasteLess. Le posizioni aperte includono:  Sviluppatori e programmatori,Se hai competenze nell'ambito dello sviluppo web, mobile o programmazione,
                vogliamo sentire te! Aiutaci a migliorare e ampliare la nostra app per rendere l'esperienza utente ancora più semplice ed efficace.</b>
        </p>

    </div>
</div>

<div class="panel" id="panel-contatti">
    <div class="container">

        <h2 class="watch fade-in title-med">Contatti</h2>

        <p id="Contatto" class="watch fade-in subtitle ">
            <b>email : WasteLess@gmail.com <br>
                numero: 0593467752
            </b>
            <br><br><br><br><br>
        </p>

    </div>
</div>


<script src="js/principale.js"></script>

</body>
</html>